<header class="header">
  <div class="container-header container">
    <img class="header-img" src="/img/dynamic-island.png" alt="Mobile screen" width="375" height="60" loading="lazy">
    <div class="header-container">

      <picture class="picture">
        <source srcset="
                          /img/favicon-desk.png  1x,
                          
                        " media="(min-width: 1440px)" />
        <source srcset="
                          /img/logo-mob.png    1x,
                          /img/logo-mob@2x.png 2x
                        " media="(max-width: 1439px)" />
        <img class="game-img" src="/img/logo-mob.png" width="58" height="58" alt="Logo" loading="lazy" />
      </picture>
      <button type="button" class="menu-button" aria-label="button for open menu">
        <img class="burger-img" src="/img/icons/Menu.png" alt="Burger menu" />
      </button>

      <nav class="nav ">
        <ul class="navigation-list">
          <li>
            <a class="links" href="index.html#Game">Game Description</a>
          </li>
          <li>
            <a class="links" href="index.html#Key">Key Features</a>
          </li>
          <li>
            <a class="links" href="index.html#Reviews">User Reviews</a>
          </li>
          <li>
            <a class="links" href="index.html#Play">How to Play</a>
          </li>
          <li>
            <a class="links" href="index.html#Gallery">Gallery</a>
          </li>
          <li>
            <a class="links" href="index.html#FAQ">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
  <button class="modal-close-button" aria-label="close button">
    <img class="modal-svg" src="/img/icons/cross.png" alt="Cross" />
  </button>
  <ul class="menu-list">
    <li><a class="menu-list-item" href="index.html#Home">Home</a></li>
    <li><a class="menu-list-item" href="index.html#Game">Game Description</a></li>
    <li>
      <a class="menu-list-item" href="index.html#Key">Key Features</a>
    </li>
    <li><a class="menu-list-item" href="index.html#Reviews">User Reviews</a></li>
    <li><a class="menu-list-item" href="index.html#Play">How to Play</a></li>
    <li>
      <a class="menu-list-item" href="index.html#Gallery">Gallery</a>
    </li>
    <li><a class="menu-list-item" href="index.html#FAQ">FAQ</a></li>
  </ul>
</div>