<header class="header">
  <div class="container">
    <img class="header-img" src="/img/Dynamic Island.webp" alt="Mobile screen" width="375" height="60" loading="lazy">
    <div class="header-container">

      <picture class="picture">
        <source srcset="
                          /img/favicon-desc.webp    1x,
                          /img/favicon-desk@2x.webp 2x
                        " media="(min-width: 1440px)" />
        <source srcset="
                          /img/logo-mob.webp    1x,
                          /img/logo-mob@2x.webp 2x
                        " media="(max-width: 1439px)" />
        <img class="game-img" src="/img/logo-mob.webp" width="58" height="58" alt="Logo" loading="lazy" />
      </picture>
      <button type="button" class="menu-button" aria-label="button for open menu">
        <img class="burger-img" src="/img/icons/Menu.png" alt="Burger menu" />
      </button>

      <nav class="nav ">
        <ul class="navigation-list">
          <li>
            <a class="links" href="#Game">Game Description</a>
          </li>
          <li>
            <a class="links" href="#Key">Key Features</a>
          </li>
          <li>
            <a class="links" href="#Reviews">User Reviews</a>
          </li>
          <li>
            <a class="links" href="#Play">How to Play</a>
          </li>
          <li>
            <a class="links" href="#Gallery">Gallery</a>
          </li>
          <li>
            <a class="links" href="#FAQ">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- Mobile menu -->
  <div id="modalWindow" class="modal">
    <button class="modal-close-button" aria-label="close button">
      <img class="modal-svg" src="/img/icons/cross.png" alt="Cross" />
    </button>
    <ul class="menu-list">
      <li><a class="menu-list-item" href="#Home">Home</a></li>
      <li><a class="menu-list-item" href="#Game">Game Description</a></li>
      <li>
        <a class="menu-list-item" href="#Key">Key Features</a>
      </li>
      <li><a class="menu-list-item" href="#Reviews">User Reviews</a></li>
      <li><a class="menu-list-item" href="#Play">How to Play</a></li>
      <li>
        <a class="menu-list-item" href="#Gallery">Gallery</a>
      </li>
      <li><a class="menu-list-item" href="#FAQ">FAQ</a></li>
    </ul>
  </div>
</header>