<!--Hero  -->
<section class="hero-section" id="Home">
    <div class="hero-container container">
        <h1 class="hero-title">Super mates</h1>
        <picture class="picture">
            <source srcset="
                          /img/hero/title-desc.webp    1x,
                          /img/hero/title-desk@2x.webp 2x
                        " media="(min-width: 1440px)" />
            <source srcset="
                          /img/hero/title-mob.webp    1x,
                          /img/hero/title-mob@2x.webp 2x
                        " media="(max-width: 1439px)" />
            <img class="hero-text-img" src="/img/hero/title-mob.webp" width="336" height="143" alt="Super mates"
                loading="lazy" />
        </picture>
        <p class="hero-text">Play Together, Win Together! Your Ultimate Co-op Adventure!</p>
        <a href="https://play.google.com/store/apps/details?id=com.supermates.android&hl=en&gl=us" target="_blank"
            class="btn-google">
            <img class="google-img" src="/img/hero/Playstore.webp" alt="Google" />
            <img class="text-img" src="/img/hero/Content.webp" alt="Google play" /></a>
        <div class="picture-container">
            <picture class="picture">
                <source srcset="
                                  /img/hero/girl-desc.webp    1x,
                                  /img/hero/girl-desk@2x.webp 2x
                                " media="(min-width: 1440px)" />
                <source srcset="
                                  /img/hero/girl-mob.webp    1x,
                                  /img/hero/girl-mob@2x.webp 2x
                                " media="(max-width: 1439px)" />
                <img class="hero-img girl-img" src="/img/hero/girl-mob.webp" alt="Girl mates" loading="lazy" />
            </picture>
            <picture class="picture">
                <source srcset="
                                  /img/hero/boy-desc.webp    1x,
                                  /img/hero/boy-desk@2x.webp 2x
                                " media="(min-width: 1440px)" />
                <source srcset="
                                  /img/hero/boy-mob.webp    1x,
                                  /img/hero/boy-mob@2x.webp 2x
                                " media="(max-width: 1439px)" />
                <img class="hero-img boy-img" src="/img/hero/boy-mob.webp" alt="Boy mates" loading="lazy" />
            </picture>

        </div>
    </div>
</section>
<!-- Game Description -->
<section class="game-description-section" id="Game">
    <div class="container">
        <h2 class="subtitle">Game Description</h2>
        <p class="description-text">Super Mates is an exciting cooperative action game that blends teamwork, adventure,
            and thrilling challenges. Choose
            your character, team up with friends, and take on exciting missions together! Whether you're solving
            puzzles, battling
            enemies, or completing quests, Super Mates ensures an engaging and dynamic experience.</p>
    </div>
</section>
<!--Key Features  -->
<section class="features-section" id="Key">
    <div class="container ">
        <div class="features-container">
            <h2 class="subtitle">Key Features</h2>
            <ul class="key-list">
                <li class="key-items">
                    <picture class="picture">
                        <source srcset="
                                      /img/key/image-one-desk.webp    1x,
                                      /img/key/image-one-desk@2x.webp 2x
                                    " media="(min-width: 1440px)" />
                        <source srcset="
                                      /img/key/image-one.webp    1x,
                                      /img/key/image-one@2x.webp 2x
                                    " media="(max-width: 1439px)" />
                        <img class="key-img key-img-one" src="/img/key/image-one.webp" alt="Girl" loading="lazy" />
                    </picture>
                    <div class="key-container key-container-one">
                        <p class="key text"><span class="span-text">Co-op Gameplay</span> – Team up with friends for
                            thrilling
                            multiplayer action.
                        </p>
                    </div>
                </li>
                <li class="key-items">
                    <div class="key-container key-container-two">
                        <p class="key text"><span class="span-text">Exciting Challenges </span> – Complete missions and
                            overcome
                            obstacles as a team.
                        </p>
                    </div>
                </li>
                <li class="key-items">
                    <div class="key-container key-container-three">
                        <p class="key text"><span class="span-text">Colorful Graphics</span> – Enjoy vibrant
                            environments
                            and
                            charming characters.
                        </p>
                    </div>
                    <picture class="picture">
                        <source srcset="
                                                  /img/key/image-two-desk.webp    1x,
                                                  /img/key/image-two-desk@2x.webp 2x
                                                " media="(min-width: 1440px)" />
                        <source srcset="
                                                  /img/key/image-two.webp    1x,
                                                  /img/key/image-two@2x.webp 2x
                                                " media="(max-width: 1439px)" />
                        <img class="key-img key-img-two" src="/img/key/image-two.webp" alt="Girl" loading="lazy" />
                    </picture>
                </li>
                <li class="key-items">
                    <picture class="picture">
                        <source srcset="/img/key/image-three-desk.webp    1x,
                                /img/key/image-three-desk@2x.webp 2x
                                " media="(min-width: 1440px)" />
                        <source srcset="/img/key/image-three.webp    1x,
                                /img/key/image-three@2x.webp 2x
                               " media="(max-width: 1439px)" />
                        <img class="key-img key-img-three" src="/img/key/image-three.webp" alt="Girl" loading="lazy" />
                    </picture>
                    <div class="key-container key-container-four">
                        <p class="key text"><span class="span-text">Dynamic Combat</span> – Engage in fast-paced battles
                            and
                            unlock new abilities.

                        </p>
                    </div>
                </li>
                <li class="key-items">
                    <div class="key-container key-container-five">
                        <p class="key text"><span class="span-text">Unlockable Rewards</span> – Collect items,
                            power-ups,
                            and
                            exclusive skins.
                        </p>
                    </div>
                    <picture class="picture">
                        <source srcset="/img/key/image-four-desk.webp    1x,
                                            /img/key/image-four-desk@2x.webp 2x
                                            " media="(min-width: 1440px)" />
                        <source srcset="/img/key/image-four.webp    1x,
                                            /img/key/image-four@2x.webp 2x
                                           " media="(max-width: 1439px)" />
                        <img class="key-img key-img-four" src="/img/key/image-four.webp" alt="Girl" loading="lazy" />
                    </picture>
                </li>
                <li class="key-items">
                    <picture class="picture">
                        <source srcset="/img/key/image-five-desk.webp    1x,
                                                        /img/key/image-five-desk@2x.webp 2x
                                                        " media="(min-width: 1440px)" />
                        <source srcset="/img/key/image-five.webp    1x,
                                                        /img/key/image-five@2x.webp 2x
                                                       " media="(max-width: 1439px)" />
                        <img class="key-img key-img-five" src="/img/key/image-five.webp" alt="Girl" loading="lazy" />
                    </picture>
                    <div class="key-container key-container-six">
                        <p class="key text"><span class="span-text">Global Leaderboards</span> – Compete with players
                            worldwide
                            for the top rankings.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- User Reviews -->
<section class="reviews-section" id="Reviews">
    <div class="container">
        <div class="reviews">
            <h2 class="subtitle">User Reviews</h2>
            <ul class="rewiews-list">
                <li class="rewiews-item">
                    <img class="rewiews-img" src="/img/rewiews/rew-one.webp" srcset="
                                      /img/rewiews/rew-one.webp,
                                      /img/rewiews/rew-one@2x.webp
                                    " alt="Alex" loading="lazy" />
                    <div class="rewiews-container">
                        <h3 class="rewiews-author">Alex R.</h3>
                        <p class="rewiews-text">Finally, a co-op game that’s actually fun and engaging!</p>
                    </div>

                </li>
                <li class="rewiews-item rewiews-item-blue">
                    <img class="rewiews-img" src="/img/rewiews/rew-two.webp" srcset="
                                              /img/rewiews/rew-two.webp,
                                              /img/rewiews/rew-two@2x.webp
                                            " alt="Mia" loading="lazy" />
                    <div class="rewiews-container">
                        <h3 class="rewiews-author">Mia K.</h3>
                        <p class="rewiews-text">Great teamwork mechanics. Perfect for playing with friends!</p>
                    </div>

                </li>
                <li class="rewiews-item rewiews-item-blue rewiews-item-right">
                    <img class="rewiews-img" src="/img/rewiews/rew-three.webp" srcset="
                                              /img/rewiews/rew-three.webp,
                                              /img/rewiews/rew-three@2x.webp
                                            " alt="Jordan" loading="lazy" />
                    <div class="rewiews-container">
                        <h3 class="rewiews-author">Jordan T.</h3>
                        <p class="rewiews-text">Vibrant graphics and challenging missions. Highly recommended!</p>
                    </div>

                </li>
                <li class="rewiews-item ">
                    <img class="rewiews-img" src="/img/rewiews/rew-four.webp" srcset="
                                              /img/rewiews/rew-four.webp,
                                              /img/rewiews/rew-four@2x.webp
                                            " alt="Sophie" loading="lazy" />
                    <div class="rewiews-container">
                        <h3 class="rewiews-author">Sophie B.</h3>
                        <p class="rewiews-text">Addictive gameplay and awesome multiplayer experience!</p>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</section>
<!-- How to Play -->
<section class="play-section" id="Play">
    <div class="container">
        <div class="play-container">
            <h2 class="subtitle">How to Play</h2>
            <ul class="play-list">
                <li class="play-item">
                    <div class="play-number-container">
                        <p class="number-text">1</p>
                    </div>
                    <p class="play-text"><span class="play-span">Team Up</span> – Invite friends and create your squad.
                    </p>
                </li>
                <li class="play-item">
                    <div class="play-number-container">
                        <p class="number-text">2</p>
                    </div>
                    <p class="play-text"><span class="play-span">Complete Missions</span> – Solve puzzles, defeat
                        enemies, and
                        level up.
                    </p>
                </li>
                <li class="play-item">
                    <div class="play-number-container">
                        <p class="number-text">3</p>
                    </div>
                    <p class="play-text"><span class="play-span">Use Power-Ups</span> – Enhance your abilities with
                        unique
                        upgrades.
                    </p>
                </li>
                <li class="play-item">
                    <div class="play-number-container">
                        <p class="number-text">4</p>
                    </div>
                    <p class="play-text"><span class="play-span">Climb the Leaderboard</span> – Earn points and become
                        the best
                        team.
                    </p>
                </li>
                <li class="play-item">
                    <div class="play-number-container">
                        <p class="number-text">5</p>
                    </div>
                    <p class="play-text"><span class="play-span">Unlock New Characters</span> – Collect and upgrade your
                        heroes.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- Gallery -->
<section class="gallery-section " id="Gallery">
    <div class="container">
        <div class="gallery-container">
            <h2 class="subtitle subtitle-gallery">Gallery</h2>
            <ul class="mob-img-list">
                <li class="mob-img-items">
                    <img class="galley-mob-img" src="/img/gallery/gallery.webp" srcset="
                                  /img/gallery/gallery.webp,
                                  /img/gallery/gallery@2x.webp
                                        " alt="Play screen" loading="lazy" />
                </li>
                <li class="mob-img-items">
                    <img class="galley-mob-img" src="/img/gallery/gallery-mob.webp" srcset="
                                      /img/gallery/gallery-mob.webp,
                                      /img/gallery/gallery-mob@2x.webp
                                            " alt="Play screen" loading="lazy" />
                </li>
            </ul>
            <ul class="desk-img-list">
                <li class="desk-img-items">
                    <img class="galley-desk-img" src="/img/gallery/gallery-one.webp" srcset="
                                      /img/gallery/gallery-one.webp,
                                      /img/gallery/gallery-one@2x.webp
                                            " alt="Play screen" loading="lazy" />
                </li>
                <li class="desk-img-items">
                    <img class="galley-desk-img" src="/img/gallery/gallery-two.webp" srcset="
                                              /img/gallery/gallery-two.webp,
                                              /img/gallery/gallery-two@2x.webp
                                                    " alt="Play screen" loading="lazy" />
                </li>
                <li class="desk-img-items">
                    <img class="galley-desk-img" src="/img/gallery/gallery-three.webp" srcset="
                                             /img/gallery/gallery-three.webp,
                                            /img/gallery/gallery-three@2x.webp
                                             " alt="Play screen" loading="lazy" />
                </li>
                <li class="desk-img-items">
                    <img class="galley-desk-img" src="/img/gallery/gallery-four.webp" srcset="
                                            /img/gallery/gallery-four.webp,
                                            /img/gallery/gallery-four@2x.webp
                                         " alt="Play screen" loading="lazy" />
                </li>

            </ul>
        </div>
    </div>
</section>
<!-- FAQ -->
<section class="faq-section" id="FAQ">
    <div class="container">
        <div class="faq">
            <h2 class="subtitle">FAQ</h2>
            <ul class="faq-acc">
                <li class="faq-acc-el faq-current">
                    <h3 class="faq-acc-el-title">
                        <button type="button" class="faq-acc-el-trigger">
                            Is Super Mates free to play?

                            <span class="faq-acc-arr arr-down">
                                <img class="modal-svg" src="/img/icons/down.png" alt="Down Arrow" />
                            </span>
                        </button>
                    </h3>

                    <p class="faq-acc-el-descr-frame">
                        Yes! The game is free to download and play, with optional in-app purchases for additional
                        content.
                    </p>
                </li>
                <li class="faq-acc-el faq-current">
                    <h3 class="faq-acc-el-title">
                        <button type="button" class="faq-acc-el-trigger">
                            Can I play with my friends?

                            <span class="faq-acc-arr arr-down">
                                <img class="modal-svg" src="/img/icons/down.png" alt="Down Arrow" />
                            </span>
                        </button>
                    </h3>

                    <p class="faq-acc-el-descr-frame">
                        Absolutely! You can team up with friends, chat, complete missions together, and compete in
                        multiplayer
                        events.
                    </p>
                </li>
                <li class="faq-acc-el faq-current">
                    <h3 class="faq-acc-el-title">
                        <button type="button" class="faq-acc-el-trigger">
                            Do I need an internet connection to play?

                            <span class="faq-acc-arr arr-down">
                                <img class="modal-svg" src="/img/icons/down.png" alt="Down Arrow" />
                            </span>
                        </button>
                    </h3>

                    <p class="faq-acc-el-descr-frame">
                        Yes, an internet connection is required to access all features, including multiplayer
                        interactions
                        and
                        events.
                    </p>
                </li>
                <li class="faq-acc-el faq-current">
                    <h3 class="faq-acc-el-title">
                        <button type="button" class="faq-acc-el-trigger">
                            Will there be new updates and events?

                            <span class="faq-acc-arr arr-down">
                                <img class="modal-svg" src="/img/icons/down.png" alt="Down Arrow" />
                            </span>
                        </button>
                    </h3>

                    <p class="faq-acc-el-descr-frame">
                        Yes! The game is regularly updated with fresh content, seasonal events, and exciting new
                        challenges.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>