body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  background: #9ddb22;
}
h2 {
  font-family: 'Gluten', sans-serif;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  color: #1a1ab8;
  margin-bottom: 32px;
}
.blur-circle {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.6) 35%,
    rgba(255, 255, 255, 0.3) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: blur(60px);
  opacity: 1;
  z-index: 1111111;
  pointer-events: none;
  mix-blend-mode: screen;
  transition: all 0.3s ease;
  overflow: hidden;
}
.circle1 {
  width: 150px;
  height: 150px;
  top: 3%;
  left: 20%;
  overflow: hidden;
}
.circle2 {
  width: 200px;
  height: 200px;
  bottom: 10%;
  left: 5%;
  overflow: hidden;
}
.circle3 {
  width: 150px;
  height: 150px;
  bottom: 60%;
  right: 20%;
  overflow: hidden;
}
.circle4 {
  width: 120px;
  height: 120px;
  bottom: 40%;
  left: 44%;
  overflow: hidden;
}
.circle5 {
  width: 100px;
  height: 100px;
  top: 70%;
  right: 20%;
  overflow: hidden;
}
.circle6 {
  width: 200px;
  height: 200px;
  top: 34%;
  right: 20%;
  overflow: hidden;
}

@media screen and (min-width: 1440px) {
  h2 {
    font-size: 40px;
    margin-bottom: 48px;
  }
}
