/* Styles for Mobile devices */
.container {
  max-width: 375px;
  width: 100%;
  padding: 40px 20px;

  margin: 0 auto;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 60px 108px;
  }
}
