.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
.header-container {
  display: flex;
  padding: 0 20px;
  width: 336px;
  height: 58px;
  margin-top: 37px;
}
.game-img {
  border-radius: 13px;
}
.burger-img {
  width: 27px;
  height: 27px;
}
.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #b9b9b9;
  border-radius: 12px;

  width: 50px;
  height: 50px;
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  margin-left: auto;
}
.navigation-list {
  display: none;
}
/* Modal */
.modal {
  display: none;
  max-height: 743px;
  width: 375px;
  backdrop-filter: blur(40.20000076293945px);
  background: rgba(157, 219, 34, 0.49);
  z-index: 1000;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 146px 101px 213px 101px;
  transition: visibility 0.3s ease;
}
.modal-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  background-color: inherit;
  margin-left: 200px;

  position: absolute;
  top: 10px;
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  border: 1px solid #b9b9b9;
  border-radius: 12px;
  margin-top: 38px;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.menu-list-item {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}
.menu-list-item:hover {
  font-weight: 700;
}
.list-condition {
  font-family: 'Kode Mono', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.06em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: var(--grey);
}

@media screen and (min-width: 1440px) {
  .header {
    backdrop-filter: none;
    background: #9ddb22;
    width: 100%;
  }
  .menu-button {
    display: none;
  }
  .header-img {
    display: none;
  }
  .navigation-list {
    display: flex;
    gap: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    min-width: 819px;
    height: 24px;
  }
  .header-container {
    display: flex;
    align-items: center;
    width: 1320px;
    height: auto;

    margin-top: 0px;
    padding: 19px 101px 20px 108px;
  }
  .game-img {
    width: 103px;
    height: 103px;
    margin-right: 62px;
  }
}
