.hero-section {
  padding: 130px 20px 96px;
  backdrop-filter: blur(60px);
  background: rgba(255, 255, 255, 0.2);
  position: relative;
}
.hero-title {
  text-indent: -9999px;
}
.hero-text {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #000;
  margin: 16px auto;
}
.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #000;
  border-radius: 6px;
  width: 208px;
  height: 54px;
  background: #fff;
  padding: 2px 33px;
  margin: 0 auto;
}
.google-img {
  width: 21px;
  height: 24px;
}
.text-img {
  width: 108px;
  height: 43px;
}
.picture-container {
  display: flex;
  justify-content: space-between;
  margin-top: 49px;
}
.hero-text-img {
  margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  .hero-section {
    padding: 150px 77px 133px;
  }

  .hero-text-img {
    width: 605px;
    height: 257px;
    margin: 0 326px;
  }
  .hero-text {
    font-size: 32px;
    width: 635px;
    margin: 35px 324px;
  }
  .btn-google {
    width: 270px;
    height: 60px;
    padding: 8px 64px;
    margin: 0 507px;
  }
  .picture-container {
    display: flex;
    position: absolute;
    top: 30px;
    left: 70px;
    z-index: 30;
    margin-top: 0px;
  }
  .hero-img {
    margin-top: 125px;
    width: 268px;
    height: 630px;
  }
  .boy-img {
    position: absolute;
    left: 1020px;
  }
}
/* Game Description */
.game-description-section {
  padding: 40px 20px;
  backdrop-filter: blur(60px);
  background: rgba(255, 255, 255, 0.2);
}
.description-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  max-width: 336px;
  margin: 0 auto;
}
@media screen and (min-width: 1440px) {
  .game-description-section {
    padding: 60 108px;
  }
  .description-text {
    font-size: 24px;
    max-width: 1200px;
  }
}
/* Key Features */
.features-section {
  padding: 40px 20px;
  backdrop-filter: blur(60px);
  background: rgba(255, 255, 255, 0.2);
}
.key-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.key-items {
  display: flex;
  position: relative;
}
.key-img {
  width: 75px;
  height: 75px;
}
.key-container {
  padding: 20px 24px;
  width: 240px;
  height: auto;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.span-text {
  font-weight: 700;
}
.key-container-one {
  border-radius: 38px 38px 38px 8px;
  background: #9f66e7;
  transform: rotate(-3deg);
  margin: 0 0 0 auto;
}
.key-img-one {
  position: absolute;
  top: 50px;
}
.key-container-two {
  background: #473b47;
  transform: rotate(1deg);
  border-radius: 8px 38px;
  margin: 0 auto;
}
.key-img-two {
  position: absolute;
  bottom: 50px;
  right: 0;
}
.key-container-three {
  border-radius: 38px 8px 38px 38px;
  background: #9f66e7;
  transform: rotate(-3deg);
}
.key-container-four {
  border-radius: 38px 38px 38px 8px;
  background: #473b47;
  transform: rotate(1deg);
  margin: 0 0 0 auto;
}
.key-img-three {
  position: absolute;
  top: 40px;
}
.key-container-five {
  border-radius: 38px 38px 8px 38px;
  background: #9f66e7;
  transform: rotate(-3deg);
}
.key-img-four {
  position: absolute;
  top: 30px;
  right: 0;
}
.key-container-six {
  border-radius: 38px 38px 38px 8px;
  background: #473b47;
  transform: rotate(1deg);
  margin: 0 0 0 auto;
}
.key-img-five {
  position: absolute;
  top: 60px;
}
@media screen and (min-width: 1440px) {
  .features-section {
    padding: 60px 108px;
  }
  .key-list {
    gap: 60px;
    margin-top: 30px auto 0;
    width: 1224px;
  }
  .features-container {
    max-width: 1224px;
  }
  .key-img {
    width: 150px;
    height: 150px;
  }
  .key-container {
    padding: 35px 42px;
    min-width: 875px;
    font-size: 24px;
    margin: 0 auto 0 174px;
  }
  .key-container-two {
    border-radius: 38px 38px 8px 38px;
  }
  .key-container-three {
    border-radius: 38px 38px 38px 8px;
  }
  .key-container-four {
    border-radius: 38px 38px 8px 38px;
  }
  .key-img-three {
    position: absolute;
    top: -80px;
  }
  .key-container-five {
    border-radius: 38px 38px 8px 38px;
  }
  .key-img-four {
    position: absolute;
    top: -90px;
  }
  .key-container-six {
    border-radius: 38px 38px 38px 8px;
    min-width: 890px;
  }
  .key-img-five {
    position: absolute;
    top: -80px;
  }
}
/* User Reviews */
.reviews-section {
  padding: 40px 20px;
  backdrop-filter: blur(60px);
  background: rgba(255, 255, 255, 0.2);
}
.rewiews-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.rewiews-item {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid #eeebee;
  border-radius: 40px;
  padding: 29px 37px;
  width: 336px;
  height: 155px;
  box-shadow: 0 4px 16px 0 rgba(31, 29, 31, 0.23);
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.rewiews-img {
  width: 75px;
  height: 75px;
}
.rewiews-item-blue {
  background: #dcf1ff;
}
.rewiews-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.rewiews-author {
  font-weight: 600;
  font-size: 20px;
}
@media screen and (min-width: 1440px) {
  .reviews-section {
    padding: 60px 108px;
  }
  .reviews {
    width: 1224px;
  }
  .rewiews-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .rewiews-item {
    width: 512px;
    height: 162px;
    font-size: 24px;
  }
  .rewiews-author {
    font-size: 24px;
  }
  .rewiews-item-right {
    margin-left: 176px;
  }
}
/* How to Play */
.play-section {
  padding: 40px 20px;
  backdrop-filter: blur(60px);
  background: rgba(255, 255, 255, 0.2);
}
.play-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.play-item {
  display: flex;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  gap: 24px;
  width: 336px;
  height: 43px;
}
.play-number-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 19px;
  width: 43px;
  height: 43px;
  background: #fa8dfd;
  font-weight: 600;
}
.play-span {
  font-weight: 700;
}
@media screen and (min-width: 1440px) {
  .play-section {
    padding: 60px 322px;
  }
  .play-container {
    width: 794px;
  }
  .play-list {
    gap: 24px;
  }
  .play-item {
    font-size: 24px;
    width: 794px;
    height: 81px;
  }
  .play-number-container {
    border-radius: 24px;
    padding: 19px 30px;
    width: 81px;
    height: 81px;
    font-size: 36px;
  }
  .play-span {
    font-weight: 700;
  }
}
/* Gallery */
.gallery-section {
  padding: 40px 0px 40px 20px;
  backdrop-filter: blur(60px);
  background: rgba(255, 255, 255, 0.2);
}
.desk-img-list {
  display: none;
}
.mob-img-list {
  display: flex;
  gap: 24px;
}
.galley-mob-img {
  border-radius: 24px;
}
.img-items-last {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.mob-img-items {
  border-radius: 24px;
}
@media screen and (min-width: 1440px) {
  .gallery-section {
    padding: 60px 0px 60px 108px;
  }
  .subtitle-gallery {
    margin-right: 200px;
  }
  .galley-desk-img {
    border-radius: 24px;
  }
  .img-desk-last {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .mob-img-list {
    display: none;
  }
  .desk-img-list {
    display: flex;
    gap: 24px;
  }
}
/* FAQ */
.faq-section {
  backdrop-filter: blur(60px);
  background: rgba(255, 255, 255, 0.2);
  padding: 40px 20px 95px;
}
.faq-acc {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.faq-acc-el {
  position: relative;
  transition: margin-bottom 0.3s ease;
}

.faq-acc-el-trigger {
  border-radius: 22px;
  padding: 16px;
  width: 100%;
  height: 72px;
  backdrop-filter: blur(21.299999237060547px);
  background: rgba(9, 9, 11, 0.53);
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.faq-acc-arr {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  background: #957fff;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.faq-acc-el.open .faq-acc-arr {
  transform: rotate(180deg);
}

.faq-acc-arr.is-hidden {
  display: none;
}

.faq-acc-el-descr-frame {
  width: 100%;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  backdrop-filter: blur(21.299999237060547px);
  background: rgba(9, 9, 11, 0.53);
  border-radius: 22px;

  opacity: 0;
  overflow: hidden;
}

.faq-acc-el.js-enabled .faq-acc-el-descr-frame {
  visibility: hidden;
}
.faq-acc-el.is-active .faq-acc-el-trigger {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.faq-acc-el.is-active .faq-acc-el-descr-frame {
  visibility: visible;
  padding: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background: rgba(9, 9, 11, 0.53);
  backdrop-filter: blur(21.299999237060547px);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  opacity: 1;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .faq-section {
    padding: 60px 387px 156px;
  }
  .faq {
    width: 666px;
  }
  .faq-acc {
    gap: 24px;
  }
  .faq-acc-el-trigger {
    padding: 24px;
    width: 666px;
    height: 94px;
    font-size: 24px;
  }
  .faq-acc-el.is-active .faq-acc-el-descr-frame {
    font-size: 24px;
    padding: 24px;
  }
}
